IBM_backend/NodeRed/SummaryJson/Summary_json.json
[{"id":"9cdc31d7.0476e","type":"inject","z":"c48bfc47.a0d278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":86,"wires":[["1f76342e.8f8614"]]},{"id":"6d82e255.3c979c","type":"http in","z":"c48bfc47.a0d278","name":"/summary_json","url":"/summary_json","method":"get","swaggerDoc":"","x":106,"y":177,"wires":[["1f76342e.8f8614"]]},{"id":"1f76342e.8f8614","type":"cloudant in","z":"c48bfc47.a0d278","service":"personality-insights-scotia-cloudantNoSQLDB","cloudant":"","name":"","database":"summary_db","search":"_all_","design":"","index":"","x":300,"y":177,"wires":[["ae7d658a.932388","3f80f011.34d98"]]},{"id":"ae7d658a.932388","type":"debug","z":"c48bfc47.a0d278","name":"","active":true,"console":"false","complete":"payload","x":352,"y":90.5,"wires":[]},{"id":"672ab39f.f97c9c","type":"http response","z":"c48bfc47.a0d278","name":"","x":616,"y":241.5,"wires":[]},{"id":"face3231.4a8aa8","type":"debug","z":"c48bfc47.a0d278","name":"Tarun","active":true,"console":"false","complete":"payload","x":615.5,"y":136.5,"wires":[]},{"id":"3f80f011.34d98","type":"function","z":"c48bfc47.a0d278","name":"Return msg","func":"return msg;","outputs":1,"noerr":0,"x":456.5,"y":216,"wires":[["face3231.4a8aa8","672ab39f.f97c9c"]]}]
