IBM_backend/NodeRed/TransactionJson/Transaction.json
[{"id":"dfa5683a.205a98","type":"http in","z":"8edd8a3.f712278","name":"/transactions_json","url":"/transactions_json","method":"get","swaggerDoc":"","x":111,"y":211,"wires":[["f3c41648.0c3be8"]]},{"id":"f3c41648.0c3be8","type":"cloudant in","z":"8edd8a3.f712278","service":"personality-insights-scotia-cloudantNoSQLDB","cloudant":"","name":"","database":"transactions","search":"_all_","design":"","index":"","x":295,"y":211,"wires":[["3eecd317.c1132c","dd154873.22eab8"]]},{"id":"3eecd317.c1132c","type":"debug","z":"8edd8a3.f712278","name":"","active":true,"console":"false","complete":"payload","x":347,"y":124.5,"wires":[]},{"id":"2baa9853.d45568","type":"inject","z":"8edd8a3.f712278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125,"y":120,"wires":[["f3c41648.0c3be8"]]},{"id":"aac501fe.553b","type":"http response","z":"8edd8a3.f712278","name":"","x":655.5,"y":228.25,"wires":[]},{"id":"81dba306.7e246","type":"debug","z":"8edd8a3.f712278","name":"Tarun","active":true,"console":"false","complete":"payload","x":610.5,"y":170.5,"wires":[]},{"id":"dd154873.22eab8","type":"function","z":"8edd8a3.f712278","name":"return msg","func":"return msg;","outputs":1,"noerr":0,"x":485.5,"y":210,"wires":[["81dba306.7e246","aac501fe.553b"]]}]
