nodered
[{"id":"45ec6c91.f18704","type":"debug","z":"b69390bc.99cb08","name":"","active":false,"console":"false","complete":"false","x":232.5,"y":477,"wires":[]},{"id":"1f95f007.b04ad","type":"http in","z":"b69390bc.99cb08","name":"/test","url":"/test","method":"get","swaggerDoc":"","x":75.5,"y":344.5,"wires":[["45ec6c91.f18704","d78bc3a3.13bdf8"]]},{"id":"d78bc3a3.13bdf8","type":"cloudant in","z":"b69390bc.99cb08","service":"scotiabank-iot-cloudantNoSQLDB","cloudant":"","name":"","database":"scotiabank_db","search":"_all_","design":"","index":"","x":286.5,"y":333.5,"wires":[["e77b6c7f.268c98","d0ba7662.028d3","637f26fc.cfb7f8"]]},{"id":"e77b6c7f.268c98","type":"debug","z":"b69390bc.99cb08","name":"","active":false,"console":"false","complete":"false","x":421.5,"y":189,"wires":[]},{"id":"428b897.48463f8","type":"inject","z":"b69390bc.99cb08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93.5,"y":272.5,"wires":[["d78bc3a3.13bdf8"]]},{"id":"5e2549f4.40b65","type":"http response","z":"b69390bc.99cb08","name":"","x":838.5,"y":288,"wires":[]},{"id":"d0ba7662.028d3","type":"debug","z":"b69390bc.99cb08","name":"","active":false,"console":"false","complete":"true","x":605.5,"y":231,"wires":[]},{"id":"cdad74f4.51b148","type":"debug","z":"b69390bc.99cb08","name":"","active":true,"console":"false","complete":"false","x":819.5,"y":369,"wires":[]},{"id":"5a0d3edd.b2725","type":"template","z":"b69390bc.99cb08","name":"chart","field":"payload","fieldType":"msg","format":"handlebars","template":"<html>\n  <head>\n    <!--Load the AJAX API-->\n    <script type=\"text/javascript\" src=\"https://www.google.com/jsapi\"></script>\n    <script type=\"text/javascript\">\n\n      // Load the Visualization API and the piechart package.\n      google.load('visualization', '1.0', {'packages':['corechart']});\n\n      // Set a callback to run when the Google Visualization API is loaded.\n      google.setOnLoadCallback(drawChart);\n\n      // Callback that creates and populates a data table,\n      // instantiates the pie chart, passes in the data and\n      // draws it.\n      function drawChart() {\n\n        // Create the data table.\n        var data = new google.visualization.DataTable();\n        data.addColumn('string', 'Topping');\n        data.addColumn('number', 'Slices');\n        data.addRows([\n          ['Mushrooms', 1000],\n          ['Onions', {{payload.amount}}],\n          ['Olives', 1],\n          ['Zucchini', 1],\n          ['Pepperoni', 2]\n        ]);\n\n        // Set chart options\n        var options = {'title':'How Much Pizza I Ate Last Night',\n                       'width':400,\n                       'height':300};\n\n        // Instantiate and draw our chart, passing in some options.\n        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));\n        chart.draw(data, options);\n      }\n    </script>\n  </head>\n\n  <body>\n    <!--Div that will hold the pie chart-->\n    <div id=\"chart_div\"></div>\n  </body>\n</html>","x":718.5,"y":293.5,"wires":[["5e2549f4.40b65","cdad74f4.51b148"]]},{"id":"81372e66.b30a38","type":"debug","z":"b69390bc.99cb08","name":"Tarun","active":true,"console":"false","complete":"payload","x":513,"y":509,"wires":[]},{"id":"637f26fc.cfb7f8","type":"function","z":"b69390bc.99cb08","name":"","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":403,"y":430.5,"wires":[["81372e66.b30a38"]]}]
