IBM_backend/NodeRed/HistoryJson/History_json.json
[{"id":"f11471b0.21d96","type":"debug","z":"958446ed.d959d","name":"Tarun","active":true,"console":"false","complete":"payload","x":704.4999389648438,"y":152,"wires":[]},{"id":"455c78b6.7df7c","type":"http in","z":"958446ed.d959d","name":"/history_json","url":"/history_json","method":"get","swaggerDoc":"","x":2221,"y":223,"wires":[["faf9e91c.a153d"]]},{"id":"faf9e91c.a153d","type":"cloudant in","z":"958446ed.d959d","service":"personality-insights-scotia-cloudantNoSQLDB","cloudant":"","name":"","database":"history_db","search":"_all_","design":"","index":"","x":2425,"y":223,"wires":[["4568fca4.47e9f4","bfebffed.28bbe8"]]},{"id":"4568fca4.47e9f4","type":"debug","z":"958446ed.d959d","name":"","active":true,"console":"false","complete":"payload","x":2477,"y":136.5,"wires":[]},{"id":"2a20d391.4e62b4","type":"inject","z":"958446ed.d959d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":2255,"y":132,"wires":[["faf9e91c.a153d"]]},{"id":"38487841.a28d68","type":"http response","z":"958446ed.d959d","name":"","x":2738,"y":221.5,"wires":[]},{"id":"7107d241.bec7d4","type":"debug","z":"958446ed.d959d","name":"Tarun","active":true,"console":"false","complete":"payload","x":2740.5,"y":182.5,"wires":[]},{"id":"bfebffed.28bbe8","type":"function","z":"958446ed.d959d","name":"","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":2595.5,"y":222,"wires":[["7107d241.bec7d4","38487841.a28d68"]]},{"id":"c271fc17.8766b8","type":"http in","z":"958446ed.d959d","name":"/history_json","url":"/history_json","method":"get","swaggerDoc":"","x":152.5,"y":212.5,"wires":[["80c07cb1.eba648"]]},{"id":"80c07cb1.eba648","type":"cloudant in","z":"958446ed.d959d","service":"personality-insights-scotia-cloudantNoSQLDB","cloudant":"","name":"","database":"history_db","search":"_all_","design":"","index":"","x":356.5,"y":212.5,"wires":[["992e5787.4a414","3afda47.299e45c"]]},{"id":"992e5787.4a414","type":"debug","z":"958446ed.d959d","name":"","active":true,"console":"false","complete":"payload","x":408.5,"y":126,"wires":[]},{"id":"65798774.14c7b","type":"inject","z":"958446ed.d959d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":186.5,"y":121.5,"wires":[["80c07cb1.eba648"]]},{"id":"81c89c4f.823878","type":"http response","z":"958446ed.d959d","name":"","x":717,"y":229.75,"wires":[]},{"id":"3afda47.299e45c","type":"function","z":"958446ed.d959d","name":"return msg","func":"return msg;","outputs":1,"noerr":0,"x":547,"y":211.5,"wires":[["f11471b0.21d96","81c89c4f.823878"]]}]
