IBM_backend/NodeRed/CustomerJson/Customer_json.json
[{"id":"dfbd1e07.f4a2e","type":"inject","z":"fe0e692.e096218","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":221.4285888671875,"y":102.2142562866211,"wires":[["9f8c3cef.db8398"]]},{"id":"2b614800.6edc4","type":"http in","z":"fe0e692.e096218","name":"/customer_json","url":"/customer_json","method":"get","swaggerDoc":"","x":197.4285888671875,"y":193.2142562866211,"wires":[["9f8c3cef.db8398"]]},{"id":"9f8c3cef.db8398","type":"cloudant in","z":"fe0e692.e096218","service":"personality-insights-scotia-cloudantNoSQLDB","cloudant":"","name":"","database":"customer_db","search":"_all_","design":"","index":"","x":391.4285888671875,"y":193.2142562866211,"wires":[["633f4820.0575a8","9d82877a.a3fe6"]]},{"id":"633f4820.0575a8","type":"debug","z":"fe0e692.e096218","name":"","active":false,"console":"false","complete":"false","x":443.4285888671875,"y":106.7142562866211,"wires":[]},{"id":"31071bd.1020fe4","type":"http response","z":"fe0e692.e096218","name":"","x":704.4285888671875,"y":191.7142562866211,"wires":[]},{"id":"e66cdb72.2bb07","type":"debug","z":"fe0e692.e096218","name":"","active":false,"console":"false","complete":"false","x":889.4285888671875,"y":110.7142562866211,"wires":[]},{"id":"cc62b6e1.d671c8","type":"template","z":"fe0e692.e096218","name":"google chart","field":"payload","fieldType":"msg","format":"handlebars","template":"<html>\n  <head>\n    <!--Load the AJAX API-->\n    <script type=\"text/javascript\" src=\"https://www.google.com/jsapi\"></script>\n    <script type=\"text/javascript\">\n\n      // Load the Visualization API and the piechart package.\n      google.load('visualization', '1.0', {'packages':['corechart']});\n\n      // Set a callback to run when the Google Visualization API is loaded.\n      google.setOnLoadCallback(drawChart);\n\n      // Callback that creates and populates a data table,\n      // instantiates the pie chart, passes in the data and\n      // draws it.\n      function drawChart() {\n\n        // Create the data table.\n        var data = new google.visualization.DataTable();\n        data.addColumn('string', 'Topping');\n        data.addColumn('number', 'Slices');\n        data.addRows([\n          ['Mushrooms', 1000],\n          ['Onions', {{payload.amount}}],\n          ['Olives', 1],\n          ['Zucchini', 1],\n          ['Pepperoni', 2]\n        ]);\n\n        // Set chart options\n        var options = {'title':'How Much Pizza I Ate Last Night',\n                       'width':400,\n                       'height':300};\n\n        // Instantiate and draw our chart, passing in some options.\n        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));\n        chart.draw(data, options);\n      }\n    </script>\n  </head>\n\n  <body>\n    <!--Div that will hold the pie chart-->\n    <div id=\"chart_div\"></div>\n  </body>\n</html>","x":716.4285888671875,"y":112.2142562866211,"wires":[["e66cdb72.2bb07"]]},{"id":"e1c5b4f0.3ee7","type":"debug","z":"fe0e692.e096218","name":"Tarun","active":true,"console":"false","complete":"payload","x":706.9285888671875,"y":152.7142562866211,"wires":[]},{"id":"9d82877a.a3fe6","type":"function","z":"fe0e692.e096218","name":"","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":561.9285888671875,"y":192.2142562866211,"wires":[["e1c5b4f0.3ee7","cc62b6e1.d671c8","31071bd.1020fe4"]]},{"id":"d0841cc4.86efe","type":"http in","z":"fe0e692.e096218","name":"/customer_spendings_json","url":"/customer_spendings_json","method":"get","swaggerDoc":"","x":206.4285888671875,"y":365.7142562866211,"wires":[["845c73fd.1eb61"]]},{"id":"845c73fd.1eb61","type":"cloudant in","z":"fe0e692.e096218","service":"personality-insights-scotia-cloudantNoSQLDB","cloudant":"","name":"","database":"customer_db","search":"_all_","design":"","index":"","x":415.4285888671875,"y":366.7142562866211,"wires":[["1fe1b85d.2197c8","a931df92.498908"]]},{"id":"1fe1b85d.2197c8","type":"debug","z":"fe0e692.e096218","name":"","active":false,"console":"false","complete":"false","x":444.4285888671875,"y":281.2142562866211,"wires":[]},{"id":"b9e27a7d.afd378","type":"inject","z":"fe0e692.e096218","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":222.4285888671875,"y":280.7142562866211,"wires":[["845c73fd.1eb61"]]},{"id":"2f0fbc48.fedc2c","type":"http response","z":"fe0e692.e096218","name":"","x":781.4285888671875,"y":363.2142562866211,"wires":[]},{"id":"f0399d62.a1e11","type":"debug","z":"fe0e692.e096218","name":"Tarun","active":true,"console":"false","complete":"payload","x":789.9285888671875,"y":296.2142562866211,"wires":[]},{"id":"a931df92.498908","type":"function","z":"fe0e692.e096218","name":"spendings_by_category","func":"all_groceries = [];\nfor (var day = 0; day < 30; day++) {\n    all_groceries[day] =0;\n}\n\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    if (msg.payload[i].category === \"groceries\"){\n        var day = msg.payload[i].day;\n        var amount = msg.payload[i].amount;\n        total_amount = all_groceries[day] + amount;\n        all_groceries[day] = total_amount;\n    }\n}\n\nmsg.payload = all_groceries;\nreturn msg;","outputs":1,"noerr":0,"x":622.9285888671875,"y":366.7142562866211,"wires":[["f0399d62.a1e11","2f0fbc48.fedc2c"]]},{"id":"95ba51dd.6c2288","type":"http in","z":"fe0e692.e096218","name":"/customer_food_food_json","url":"/customer_food_food_json","method":"get","swaggerDoc":"","x":206.4285888671875,"y":556.7142562866211,"wires":[["2af103a4.bf002c"]]},{"id":"2af103a4.bf002c","type":"cloudant in","z":"fe0e692.e096218","service":"personality-insights-scotia-cloudantNoSQLDB","cloudant":"","name":"","database":"customer_db","search":"_all_","design":"","index":"","x":415.4285888671875,"y":557.7142562866211,"wires":[["fe76d6f1.b1a4f","567f0cdb.1151dc"]]},{"id":"fe76d6f1.b1a4f","type":"debug","z":"fe0e692.e096218","name":"","active":false,"console":"false","complete":"false","x":444.4285888671875,"y":472.2142562866211,"wires":[]},{"id":"35f2c4e1.c6ba54","type":"inject","z":"fe0e692.e096218","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":222.4285888671875,"y":471.7142562866211,"wires":[["2af103a4.bf002c"]]},{"id":"36c31660.862972","type":"http response","z":"fe0e692.e096218","name":"","x":781.4285888671875,"y":554.2142562866211,"wires":[]},{"id":"f18bdef4.d6d0d","type":"debug","z":"fe0e692.e096218","name":"Tarun","active":true,"console":"false","complete":"payload","x":789.9285888671875,"y":487.2142562866211,"wires":[]},{"id":"567f0cdb.1151dc","type":"function","z":"fe0e692.e096218","name":"spendings_per_day","func":"all_groceries = [];\nfor (var day = 0; day < 30; day++) {\n    all_groceries[day] =0;\n}\n\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    if (msg.payload[i].category === \"groceries\"){\n        var day = msg.payload[i].day;\n        var amount = msg.payload[i].amount;\n        total_amount = all_groceries[day] + amount;\n        all_groceries[day] = total_amount;\n    }\n}\n\nmsg.payload = all_groceries;\nreturn msg;","outputs":1,"noerr":0,"x":602.9285888671875,"y":557.7142562866211,"wires":[["f18bdef4.d6d0d","36c31660.862972"]]}]
