IBM_backend/NodeRed/PersonalityInsights/PersonalityInsights.json
[{"id":"b55ca6ff.4aa358","type":"http request","z":"fc58d419.03a728","name":"","method":"GET","ret":"obj","url":"https://427db1e0-f303-4057-9fcb-36c51f9df702:XxxnB2Mas8@cdeservice.mybluemix.net:443/api/v1/messages/search?q=from%3AArunDobriyal&size=100","x":97.5,"y":433,"wires":[["8e5a56af.71a5a8"]]},{"id":"a4ec7647.5b1388","type":"inject","z":"fc58d419.03a728","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123.5,"y":234,"wires":[["b55ca6ff.4aa358"]]},{"id":"8e5a56af.71a5a8","type":"function","z":"fc58d419.03a728","name":"Tweets","func":"var tweets = msg.payload.tweets;\nvar arr = new Array();\nvar cont = 0;\nvar text = \"\";\nfor(var i = 0;i<tweets.length;i++){\n    text = text + \" \" + tweets[i].message.object.summary;\n    arr[cont++] = tweets[i].message.object.summary;\n}\nreturn {payload:text};","outputs":1,"noerr":0,"x":258.5,"y":509,"wires":[["393a1ac.fc6c5e6"]]},{"id":"393a1ac.fc6c5e6","type":"watson-personality-insights","z":"fc58d419.03a728","name":"","lang":"en","x":325.5,"y":124,"wires":[["eb62c262.149d4","91c9e690.e3b2a"]]},{"id":"eb62c262.149d4","type":"debug","z":"fc58d419.03a728","name":"","active":true,"console":"false","complete":"insights","x":533.5,"y":128,"wires":[]},{"id":"6e681181.8dd168","type":"cloudant out","z":"fc58d419.03a728","service":"personality-insights-scotia-cloudantNoSQLDB","cloudant":"","name":"","database":"personality-insights","payonly":false,"operation":"insert","x":484,"y":301.5,"wires":[]},{"id":"91c9e690.e3b2a","type":"function","z":"fc58d419.03a728","name":"","func":"msg.insights[\"age\"] = 35;\nmsg.insights[\"PostalCode\"]=\"J5W2T4\";\nmsg.insights[\"AnnualIncome\"] = \"160000\";\nmsg.insights[\"City\"] = \"Montreal\";\nmsg.insights[\"CreditScore\"]=534;\nreturn msg;\n","outputs":1,"noerr":0,"x":441,"y":421.5,"wires":[["6e681181.8dd168","92349e6f.8c2ba8"]]},{"id":"92349e6f.8c2ba8","type":"debug","z":"fc58d419.03a728","name":"","active":true,"console":"false","complete":"insights","x":601,"y":362,"wires":[]}]
