IBM_backend/NodeRed/TradeOffAnalyzer/TradeoffAnalyzer.json
[{"id":"77792332.7fb6d4","type":"function","z":"7b63d282.0c8754","name":"Finance-Data","func":"msg = {\n  \"payload\": \"Finance\",\n  \"columns\": [\n    {\n      \"key\": \"Stock\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Stock\",\n      \"is_objective\": true\n    },\n    {\n      \"key\": \"MutualFunds\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"MutualFunds\",\n      \"is_objective\": true\n    },\n    {\n      \"key\": \"GIC\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"GIC\",\n      \"is_objective\": true\n    },\n    {\n      \"key\": \"SavingsAccount\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"SavingsAccount\",\n      \"is_objective\": true\n    }\n  ],\n  \"options\": [\n    {\n      \"key\": \" 1\",\n      \"name\": \"Patricio\",\n      \"values\": {\n        \"Stock\": 0.94,\n        \"MutualFunds\": 8.24,\n        \"GIC\": 31.22,\n        \"SavingsAccount\": 13.08\n      }\n    }\n  ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":214,"y":173,"wires":[["32f698e6.579b38"]]},{"id":"c696da97.e0c398","type":"inject","z":"7b63d282.0c8754","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":98,"y":73,"wires":[["77792332.7fb6d4"]]},{"id":"32f698e6.579b38","type":"watson-tradeoff-analytics","z":"7b63d282.0c8754","name":"","x":451,"y":173,"wires":[["84d61b76.7dc528","762a495.0658fb8"]]},{"id":"84d61b76.7dc528","type":"debug","z":"7b63d282.0c8754","name":"","active":true,"console":"false","complete":"resolution","x":696,"y":165,"wires":[]},{"id":"762a495.0658fb8","type":"function","z":"7b63d282.0c8754","name":"","func":"msg.payload = msg.resolution;\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":280.5,"wires":[["c4b028e5.85283"]]},{"id":"c4b028e5.85283","type":"cloudant out","z":"7b63d282.0c8754","service":"personality-insights-scotia-cloudantNoSQLDB","cloudant":"","name":"","database":"tradeoff-test","payonly":true,"operation":"insert","x":555,"y":284.5,"wires":[]}]
