tradeoff/tradeoff
[{"id":"bb5da63b.44a258","type":"http in","z":"cb43277.f34bcd8","name":"","url":"/pm/dilemmas","method":"post","swaggerDoc":"","x":95,"y":271,"wires":[["fdcda2f7.02326","68427607.97bd88"]]},{"id":"ddee9546.221168","type":"watson-tradeoff-analytics","z":"cb43277.f34bcd8","name":"","x":246,"y":48.5,"wires":[["800186ad.7ffe78","f739a31a.08c66"]]},{"id":"fd4ad541.02b528","type":"http response","z":"cb43277.f34bcd8","name":"","x":715.5,"y":81,"wires":[]},{"id":"fdcda2f7.02326","type":"function","z":"cb43277.f34bcd8","name":"","func":"global.set(\"res\", msg.res);\nmsg = msg.req.body;\n\nreturn msg;","outputs":1,"noerr":0,"x":282.5,"y":301,"wires":[["ddee9546.221168"]]},{"id":"800186ad.7ffe78","type":"function","z":"cb43277.f34bcd8","name":"","func":"\nmsg.headers = {\n     \"Content-type\" : \"application/json\",\n     \"my-custom-header\": \"a value\"\n };\nmsg.res = global.get(\"res\");\n//msg.payload = JSON.stringify(msg.resolution);\nmsg.payload = {\n    \"columns\":msg.columns,\n    \"resolution\":msg.resolution,\n    \"options\":msg.options,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":489.5,"y":125,"wires":[["fd4ad541.02b528"]]},{"id":"6bee84da.94117c","type":"http response","z":"cb43277.f34bcd8","name":"","x":614.5,"y":448,"wires":[]},{"id":"a691080b.596ef8","type":"function","z":"cb43277.f34bcd8","name":"","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"my-custom-header\": \"a value\"\n     };\n     msg.payload = \"{\\\"a\\\":1}\";\nreturn msg;","outputs":1,"noerr":0,"x":375.5,"y":400,"wires":[["6bee84da.94117c"]]},{"id":"791da065.86e26","type":"http in","z":"cb43277.f34bcd8","name":"","url":"/test10","method":"post","swaggerDoc":"","x":172.5,"y":402,"wires":[["a691080b.596ef8"]]},{"id":"649369c.f9b6c98","type":"template","z":"cb43277.f34bcd8","name":"","field":"resolution","fieldType":"msg","format":"handlebars","template":"HTTP/1.1 200 OK\nContent-Type: application/json\nContent-Length: 1000\n\n{{resolution}}","x":504.5,"y":68,"wires":[[]]},{"id":"54fa34d5.ab05cc","type":"inject","z":"cb43277.f34bcd8","name":"","topic":"","payload":"{         \"payload\": \"x\",         \"subject\": \"x\",         \"columns\": [{             \"key\": \"Risk\",             \"type\": \"numeric\",             \"goal\": \"max\",             \"full_name\": \"Risk\",             \"is_objective\": true         }, {             \"key\": \"ShortTerm\",             \"type\": \"numeric\",             \"goal\": \"max\",             \"full_name\": \"ShortTerm\",             \"is_objective\": true         }, {             \"key\": \"MidTerm\",             \"type\": \"numeric\",             \"goal\": \"max\",             \"full_name\": \"MidTerm\",             \"is_objective\": true         }, {             \"key\": \"LongTerm\",             \"type\": \"numeric\",             \"goal\": \"max\",             \"full_name\": \"LongTerm\",             \"is_objective\": true         }],         \"options\": [{             \"key\": \" 1\",             \"name\": \"OBIOX\",             \"values\": {                 \"Risk\": 0.94,                 \"YTD\": 8.24,                 \"ShortTerm\": 27.74,                 \"MidTerm\": 31.22,                 \"LongTerm\": 13.08             }         }, {             \"key\": \" 2\",             \"name\": \"OSPHX\",             \"values\": {                 \"Risk\": 0.84,                 \"YTD\": 12.69,                 \"ShortTerm\": 40.09,                 \"MidTerm\": 24.55,                 \"LongTerm\": 12.81             }         }]     }","payloadType":"json","repeat":"","crontab":"","once":false,"x":96.5,"y":226,"wires":[[]]},{"id":"f739a31a.08c66","type":"debug","z":"cb43277.f34bcd8","name":"tradeoff response","active":true,"console":"false","complete":"columns","x":492.5,"y":203,"wires":[]},{"id":"68427607.97bd88","type":"debug","z":"cb43277.f34bcd8","name":"","active":true,"console":"false","complete":"req.body","x":533.5,"y":258,"wires":[]}]